<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm-qCcPlNxqx8_a20gWiOwqu2PB-zhpXI</string>
	<key>GCM_SENDER_ID</key>
	<string>375467073097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hado.GoogleAuth</string>
	<key>PROJECT_ID</key>
	<string>authswiftui-1662b</string>
	<key>STORAGE_BUCKET</key>
	<string>authswiftui-1662b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375467073097:ios:882c73b9b6d29903146998</string>
</dict>
</plist>