<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtensionAttributes</key>
	<dict>
		<key>WKAppBundleIdentifier</key>
		<string>com.hado.SimpleNews.watchkitapp</string>
	</dict>
	<key>NSExtensionPointIdentifier</key>
	<string>com.app.watchkit</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.hado.SimpleNews.view</string>
	</array>
</dict>
</plist>
